.grid {
  display: flex;
  position: relative;
  height: 100vh;
  font-family: "MonumentExtended-Ultrabold";
  padding: 2rem;
}
.name {
  align-items: center;
  justify-content: center;
  gap: 1rem;
  display: flex;
  font-size: 1.5rem;
}

.chips {
  width: 4rem;
}

.grid1 {
  background: #d9d9d9;
  border-bottom-right-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  padding: 1rem;
  position: fixed;
  /* can be changed */
  min-height: 95vh;
  left: -100%;
  transition: .6s;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 0 1px 70px hsla(0, 72%, 15%, 0.1);

}

.grid2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

.grid2name {
  align-content: center;
  display: flex;
  justify-content: flex-start;
  font-size: 2rem;
  flex-direction: column;
  gap: 0.5rem;
}
.name2 {
  color: #727272;
  font-size: 1.5rem;
}

.ham {
  width: 5rem;
}
.hamdiv {
  align-items: center;
  display: flex;
  gap: 2rem;
}

.card {
  background: #d9d9d9;
  border-radius: 1.5rem;
  min-width: 95vw;
  min-height: 80vh;
}

.mobile {
  left: 0%;
}

.wrong {
  width: 2rem;
}

.btns img{
  width: 3rem;
}

.btns{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  background-color: black;
  border-radius: 1rem;
  color: white;
  letter-spacing: 1px;
  padding: 1rem;
}