* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: white;
}

@font-face {
  font-family: "MonumentExtended-Ultrabold";
  src: url("../public/MonumentExtended-Ultrabold.otf")
    format("opentype");
}



a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
